---
import { type CollectionEntry, getCollection } from "astro:content";

import Layout from "../../components/Layout.astro";
import Tags from "../../components/TagBar.astro";
import { Icon } from "astro-icon/components";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((proj) => ({
    params: { slug: proj.id },
    props: proj,
  }));
}
type Project = CollectionEntry<"projects">;

const project: Project = Astro.props;
---

<Layout activePath="/project" mainClass="p-10 flex flex-col items-center">
  <h1 class="text-5xl text-primary text-center flex">
    {project.data.title}
    {
      project.data.github && (
        <a
          class="text-primary ml-4 tooltip"
          href={project.data.github}
          data-tip="View this project on GitHub"
        >
          <Icon name="mdi:github" />
        </a>
      )
    }
  </h1>
  <div class="w-fit mt-5 flex">
    {project.data.tags && <Tags project={project} />}
  </div>
  <p class="text-gray italic my-5 w-3/4">{project.data.description}</p>

  {
    project.data.embedLink ? (
      <iframe
        src={project.data.embedLink}
        class={`w-full ${project.data.embedHeight ? "" : "h-96"}`}
        style={
          project.data.embedHeight &&
          `height: ${project.data.embedHeight}; ${project.data.embedWidth && `width: ${project.data.embedWidth};`}`
        }
      />
    ) : (
      <img
        src={`/img/project/${project.id}.png`}
        style={`width: ${project.data.embedWidth || "100%"}; height: ${project.data.embedHeight || "800px"};`}
      />
    )
  }
</Layout>
