---
import { type CollectionEntry } from "astro:content";
import Layout from "../../components/Layout.astro";
import ProjectCard from "../../components/pageSpecific/project/ProjectCard.astro";
import Tags from "../../lib/projectTag";
import type { TagType } from "../../lib/projectTag";
import ProjectTagSelector from "../../components/pageSpecific/project/ProjectTagSelector.astro";
import { getProjectsInOrder } from "../../lib/contentManagers";

type Project = CollectionEntry<"projects">;

const projects = await getProjectsInOrder();
const tagTypes = Array.from(new Set(Tags.map((tag) => tag.type)));
---

<Layout activePath="/project" mainClass="p-10 flex flex-col">
  <h1 class="text-5xl font-bold">Projects</h1>

  <div class="flex my-4 justify-space max-w-1/4">
    {
      tagTypes.map((tagType: TagType, index: number) => {
        return <ProjectTagSelector tagType={tagType} index={index} />;
      })
    }
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-12 mt-10">
    {
      projects.map((project: Project) => {
        return <ProjectCard project={project} />;
      })
    }
  </div>
</Layout>

<script>
  const filterSelects = [...document.getElementsByTagName("select")].filter(
    (selectMenu) => {
      return selectMenu.classList.contains("project-tag-selector");
    },
  );

  const projectCards = [
    ...document.getElementsByClassName("project-card"),
  ] as HTMLDivElement[];

  const updateShownCards = () => {
    for (const card of projectCards) {
      const cardData = card.dataset;
      const tags = cardData && cardData.tags ? cardData.tags.split(",") : [];
      const shouldShow =
        filterSelects.filter((elem) => {
          return elem.value != "All" && !tags.includes(elem.value);
        }).length > 0;

      if (shouldShow) {
        card.classList.add("hidden");
      } else {
        card.classList.remove("hidden");
      }
    }
  };

  filterSelects.forEach((selectMenu) => {
    selectMenu.onchange = updateShownCards;
  });
</script>
