<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3DPacman</title>

    <style>
        body {
            margin: 0;
            overflow: hidden;
        }

        .score {
            position: absolute;
            font-size: 50px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: white;
        }

        .game-over{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-items: center;
            justify-content: center;
            background-color: #36454F;
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            flex-direction: column;
        }

        a{
            color: white;
        }

        a:hover{
            color: #2184EE;
        }

        h1{
            font-size: 50px;
        }

        html{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    </style>

    <script
      type="module"
      defer
      src="/projects/pacman.js"
    ></script>
  </head>
  <body>
    <div class="score">Score: 0</div>
  </body>
</html>
