---
import { getBlogsInOrder } from "../../../lib/contentManagers";
import BlogCard from "./BlogCard.astro";

const blogs = await getBlogsInOrder();
---

<section class="min-h-40 mt-10 flex flex-col items-center">
  <h2 class="text-4xl text-center mb-8 font-bold">Blogs</h2>
  <div class="flex w-2/3 relative flex-col">
    {blogs.map(async (blog) => <BlogCard blog={blog} />)}
  </div>
</section>
