---
import type { CollectionEntry } from "astro:content";

type Blog = CollectionEntry<"blogs">;

type BlogCardProps = {
  blog?: Blog;
};

const props = Astro.props as BlogCardProps;
const { blog } = props;
const data = blog?.data;
---

<div class="card w-full outline-accent outline mb-7">
  <div class="card-body">
    <h3 class="card-title text-highlight font-bold">{data?.title}</h3>
    <span class="text-sm text-highlight text-gray-500 italic">{data?.date}</span
    >
    <p>{data?.description}</p>
    <div class="card-actions justify-end">
      <a class="btn btn-primary" href={`/blog/${blog?.slug}`}>Read</a>
    </div>
  </div>
</div>
