---
import HeaderLink from "./HeaderLink.astro";

import Image from "astro/components/Image.astro";
---

<div class="hero min-h-[340px] bg-base-200 relative">
  <div class="hero-overlay"></div>
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">William Migdol</h1>
      <p class="mb-5">
        Software Engineer Based out of Seattle, Specializing in Full-Stack Web
        Development
      </p>
      <div class="flex items-center justify-center">
        <HeaderLink
          iconName="mdi:github"
          href="https://www.github.com/willm0602"
          title="Link to my Github profile"
        />
        <HeaderLink
          iconName="mdi:linkedin"
          href="https://www.linkedin.com/in/willmigdol"
          title="Link to my Linkedin account"
        />
        <HeaderLink
          iconName="mdi:twitter"
          href="https://twitter.com/WillMigdol"
          title="Link to my twitter account"
        />
      </div>
    </div>
  </div>
</div>
