---
import type { CollectionEntry } from "astro:content";

type Project = CollectionEntry<"projects">;

const props = Astro.props;

const project: Project = props.project;

const slug = project.id;
const { title, description } = project.data;

import Tags from "../../TagBar.astro";
---

<div class="card w-full outline outline-accent min-h-64 my-12">
  <div class="card-body">
    <h3 class="card-title font-bold">{title}</h3>
    <Tags project={project} />
    <p>{description}</p>
    <div class="card-actions justify-end">
      <a class="btn btn-primary" href={`/project/${slug}`}>View</a>
    </div>
  </div>
</div>
