---
import { getProjectsInOrder } from "../../../lib/contentManagers";
import ProjectCard from "./ProjectCard.astro";

const projects = await getProjectsInOrder();
---

<section class="min-h-40 mt-28 flex flex-col items-center">
  <h2 class="text-4xl text-center font-bold">Projects</h2>
  <div class="flex w-2/3 relative flex-col">
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</section>
