---
import { Icon } from "astro-icon/components";
import links from "./Links";
---

<div class="dropdown dropdown-bottom dropdown-end block md:hidden">
  <div
    tabindex="0"
    role="button"
    class="btn m-1"
    aria-label="Open navigation dropdown"
  >
    <Icon name="mdi:menu" />
  </div>
  <ul
    tabindex="0"
    class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow"
  >
    {
      links.map((link) => {
        console.log(link);
        return (
          <li>
            <a href={link.path}>{link.name}</a>
          </li>
        );
      })
    }
  </ul>
</div>
