---
import { Icon } from "astro-icon/components";
import NavLink from "./NavLink.astro";
import links from "./Links";
import MobileNav from "./MobileNav.astro";
import ThemeSwitch from "./ThemeSwitch.astro";

type NavBarRightProps = {
  activePath: string;
};

const props = Astro.props as NavBarRightProps;
---

<!-- TODO: Add light mode in --><!-- <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script> -->
<div class="navbar-end">
  <!-- <button class="px-5 py-4" data-toggle-theme="dark,nord" data-act-class="ACTIVECLASS">
        <span class="icon">
            <Icon name="mdi:lightbulb"
                  height={24}
            />
        </span>
    </button> -->
  {
    links.map((link, idx) => (
      <NavLink
        key={`topnav-link-${idx}`}
        link={link}
        activePath={props.activePath || "/"}
      />
    ))
  }
  <ThemeSwitch />
  <MobileNav />
</div>
