---
import { Icon } from "astro-icon/components";
import { themeChange } from "theme-change";
---
<button onclick="toggleTheme()" class="hidden md:block p-4">
  <span id="set-theme-dark" class="hidden">
    <Icon name="mdi:moon-waning-crescent" />
  </span>
  <span id="set-theme-light" class="hidden">
    <Icon name="mdi:weather-sunny" />
  </span>
</button>

<script is:inline>
  window.toggleTheme = () => {
    const theme = window.getTheme();
    const newTheme = theme == "retro" ? "dark" : "retro";
    if (newTheme == "dark") {
      document.getElementById("set-theme-dark").classList.add("hidden");
      document.getElementById("set-theme-light").classList.remove("hidden");
    } else {
      document.getElementById("set-theme-dark").classList.remove("hidden");
      document.getElementById("set-theme-light").classList.add("hidden");
    }

    localStorage.setItem("theme", newTheme);
    window.location.reload();
  };

  const theme = window.getTheme();
  /** NOTE: tailwind is finicky with theme-changing for hidden elements, so we check it
   * manually here
   */
  if (theme == "dark") {
    document.getElementById("set-theme-light").classList.remove("hidden");
  } else {
    document.getElementById("set-theme-dark").classList.remove("hidden");
  }
</script>
