---
import NavBarLeft from "./NavBarLeft.astro";
import NavBarRight from "./NavBarRight.astro";

type TopNavProps = {
  activePath: string;
};
const props = Astro.props as TopNavProps;
const activePath = props.activePath;
---

<div class="navbar bg-base-300 px-4 py-0">
  <NavBarLeft />
  <NavBarRight activePath={activePath} />
</div>
