---
import type { CollectionEntry } from "astro:content";
import TagBar from "../../TagBar.astro";

type Project = CollectionEntry<"projects">;

const MAX_DESCRIPTION_LENGTH = 80;

type ProjectCardProps = {
  project?: Project;
};

const props = Astro.props as ProjectCardProps;

function truncateText(text: string | undefined) {
  if (!text) return "";

  if (text.length > MAX_DESCRIPTION_LENGTH) {
    return text.substring(0, MAX_DESCRIPTION_LENGTH) + "...";
  }
  return text;
}

function formatProjectForCard(project?: Project) {
  return {
    id: project?.id,
    title: project?.data.title,
    description: truncateText(project?.data.description),
    tags: project?.data.tags,
    link: `/project/${project?.id}`,
    hasEmbed: project?.data.embedLink,
  };
}

const project = formatProjectForCard(props.project);
---

{
  project && (
    <div
      class="card w-96 bg-base-100 shadow-xl shadow-base-300 mr-12 project-card my-5"
      data-tags={project.tags?.join(",") || ""}
    >
      <figure class="w-full h-80">
        <img
          class="h-full w-full"
          src={`/img/project/${project.id}.png`}
          alt={`Image of ${project.title}`}
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title">
          {project.title}
          <br />
        </h2>
        <p>{project.description}</p>
        <div class="card-actions justify-end">
          <TagBar projSlugs={project.tags} />
          {project.hasEmbed ? (
            <a href={project.link} class="btn btn-primary">
              View Project
            </a>
          ) : (
            <a href={project.link} class="btn btn-primary">
              Read More
            </a>
          )}
        </div>
      </div>
    </div>
  )
}
