---
import Tags from "../../../lib/projectTag";
import type { TagType } from "../../../lib/projectTag";
import {getUsedProjectTags} from "../../../lib/contentManagers.ts";

type ProjectTagSelectorProps = {
  tagType: TagType;
  index: number;
};

const usedTags = await getUsedProjectTags();

const { tagType, index } = Astro.props as ProjectTagSelectorProps;

const tags = Tags.filter((tag) => {
  return tag.type === tagType && usedTags.has(tag.slug);
});


const selectorName = `select-${tagType}`;

const SELECT_MENU_CLASS_NAME = `project-tag-selector ${index }`;
export { SELECT_MENU_CLASS_NAME };
---

<div class="flex flex-col">
  <label for={selectorName} class="font-semibold">{tagType}</label>
  <select
    name={selectorName}
    id={selectorName}
    class={`select select-bordered mr-12 w-40 ${SELECT_MENU_CLASS_NAME} mt-2`}
    data-tag-type={tagType}
  >
    <option value={undefined}>All</option>
    {tags.map((tag) => <option value={tag.slug}>{tag.name}</option>)}
  </select>
</div>
