---
import { BlogSection } from "../components/pageSpecific/home";
import { ProjectSection } from "../components/pageSpecific/home";
import { Layout } from "../components";
import { Header } from "../components/pageSpecific/home";
---

<Layout activePath="/" mainClass="pb-10">
  <Header />
  <BlogSection />
  <ProjectSection />
</Layout>
