---
import "../styles/globals.css";
import TopNav from "./TopNav";

type LayoutProps = {
  pageTitle?: string;
  activePath?: string;
  mainClass?: string;
};

const DEFAULT_PAGE_TITLE = "William Migdol";
const DEFAULT_ACTIVE_PATH = "";
const DEFAULT_MAIN_CLASS = "";

const props: LayoutProps = Astro.props;

const activePath = props.activePath || DEFAULT_ACTIVE_PATH;
const pageTitle = props.pageTitle || DEFAULT_PAGE_TITLE;
const mainClass = props.mainClass || DEFAULT_MAIN_CLASS;
---

<script is:inline>
  window.getTheme = () => {
    const themeFromLocalStorage = localStorage.getItem("theme");
    if (themeFromLocalStorage == "dark" || themeFromLocalStorage == "retro")
      return themeFromLocalStorage;

    if (
      window.matchMedia &&
      window.matchMedia("(prefers-color-scheme: dark)").matches
    )
      return "dark";
    return "retro";
  };

  const mainElem = document.getElementsByTagName("html")[0];
  mainElem.setAttribute("data-theme", window.getTheme());

  window.onload = () => {
    const mainElem = document.getElementsByTagName("html")[0];
    const theme = window.getTheme();
    mainElem.setAttribute("data-theme", theme);
    const stylesheetSrc = (theme == 'retro' ? "/prisma/light.css" : "/prisma/dark.css");
    const stylesheetElem = document.getElementById('prism-src');
    stylesheetElem.href = stylesheetSrc;
  };
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
    <link href="" rel="stylesheet" id="prism-src"/>
  </head>
  <body class="min-h-screen flex flex-col font-mono">
    <TopNav {activePath} />
    <main class={`flex flex-col flex-1 ${mainClass}`}>
      <slot />
    </main>
  </body>
</html>
