---
import type { CollectionEntry } from "astro:content";
import type { Tag } from "../lib/projectTag.ts";
import { getTagsFromSlugs } from "../lib/projectTag.ts";
import type { TagType } from "../lib/projectTag.ts";

type Project = CollectionEntry<"projects">;

type ProjectTagsProps = {
  projSlugs?: string[];
  project?: Project;
};

const { projSlugs, project } = Astro.props as ProjectTagsProps;

const tags: Tag[] = projSlugs
  ? getTagsFromSlugs(projSlugs)
  : project
    ? getTagsFromSlugs(project.data.tags || [])
    : [];

const badgeClasses =
  "rounded-full px-1 py-1 m-1 border border-transparent text-xs font-semibold text-white hover:bg-gray-600 transition-colors duration-300 ease-in-out flex items-center justify-center text-center";

const TagColors: Record<TagType, string> = {
  Language: "blue-500",
  "Project Type": "green-500",
  Library: "yellow-700",
  Other: "gray-500",
};
---

<div class="flex w-full flex-wrap">
  {
    tags.map((tag) => {
      const color = TagColors[tag.type] || "gray-500";
      return <span class={`${badgeClasses} bg-${color}`}>{tag.name}</span>;
    })
  }
</div>
