---
import { type CollectionEntry, getCollection } from "astro:content";

import { Layout } from "../..";
import BlogMenuItem from "./BlogMenuItem.astro";
import BlogPost from "./BlogPost.astro";
import NoBlogPost from "./NoBlogPost.astro";
import { getBlogsInOrder } from "../../../lib/contentManagers";

const blogs = await getBlogsInOrder();

type Blog = CollectionEntry<"blogs">;
const activeBlog: Blog = Astro.props.blog;
---

<Layout activePath="/blog">
  <div class="min-h-full flex">
    <ul
      class="menu menu-md bg-base-200 w-56 flex-1 min-w-64 max-w-64 min-h-[90vh] hidden md:block"
    >
      {blogs.map((blog) => <BlogMenuItem blog={blog} />)}
    </ul>
    {activeBlog ? <BlogPost blog={activeBlog} /> : <NoBlogPost />}
  </div>
</Layout>
