---
import { Icon } from "astro-icon/components";
import type { CollectionEntry } from "astro:content";
import Prose from "./Prose.astro";
import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';

dayjs.extend(utc);

type Blog = CollectionEntry<"blogs">;

type BlogPostComponentProps = {
  blog: Blog;
};

const props = Astro.props as BlogPostComponentProps;

const { blog } = props;

const blogData = blog.data;

const { Content, remarkPluginFrontmatter } = await blog.render();

const lastModified = dayjs(remarkPluginFrontmatter.lastModified).utc().format('MM/DD/YYYY');
---

<article class="p-10 w-3/4 m-auto">
  <a
    href="/blog"
    class="block md:hidden text-decoration-none no-underline"
  >
    ← Return to all blogs
  </a>
  <Prose>
    <h1>{blogData.title}</h1>
    <span class="text-gray italic block">{lastModified}</span>
    <div id="blog-wrapper">
      <Content />
    </div>
  </Prose>
</article>
<script>
  const setupExternalLinks = () => {
    const blogWrapper = document.getElementById("blog-wrapper");
    const anchorElems = blogWrapper?.getElementsByTagName("a") || [];
    [...anchorElems].forEach((anchor) => {
      const href = anchor.getAttribute("href");
      if (href && href.startsWith("https://"))
        anchor.setAttribute("target", "_blank");
    });
  };

  const hideImagesFromAria = () => {
    const blogWrapper = document.getElementById("blog-wrapper");
    const imgs = blogWrapper?.getElementsByTagName("img") || [];
    [...imgs].forEach((img) => {
      const alt = img.getAttribute("alt");
      if (!alt) {
        img.setAttribute("aria-hidden", "true");
        img.removeAttribute("alt");
      }
    });
  };

  const blogPostProcessing = () => {
    setupExternalLinks();
    hideImagesFromAria();
  };

  window.onload = blogPostProcessing;
</script>
