---
import type { CollectionEntry } from "astro:content";

type Blog = CollectionEntry<"blogs">;

type BlogMenuItemProps = {
  blog: Blog;
};

const props = Astro.props as BlogMenuItemProps;
const { blog } = props;

const id = blog.id;
const title = blog.data.title;

const activeBlogSlug = Astro.params.slug;
const isActive = activeBlogSlug === blog.slug;
---

<li>
  <a
    class={isActive ? `bg-base-300 text-accent` : ``}
    href={`/blog/${blog.slug}`}>{title}</a>
</li>
