---
import { getBlogsInOrder } from "../../../lib/contentManagers";

const blogs = await getBlogsInOrder();
console.log(getBlogsInOrder);
---

<section class="p-10 w-full">
  <div id="blog-wrapper w-full">
    <span class="hidden md:block"
      >Please select a blog to read from the options to the left</span
    >
    <ul class="menu menu-md bg-base-200 rounded-box w-full block md:hidden">
      {
        blogs.map((blog) => {
          return (
            <li>
              <a href={`/blog/${blog.slug}`}>{blog.data.title}</a>
            </li>
          );
        })
      }
    </ul>
  </div>
</section>
